
img, .main-logo {
    width: 4em;
    height: 4em;
}

.main-logo > img {
    width: 4em;
    height: 4em;
}

.my-header {
    display: flex;
    flex-flow: row;

    justify-content: center;
    align-items: center;
}

.delete-form {
    margin: 1em;
}

.edit-form {
    margin: 1em;
}

.btn-primary {
    margin: .3em;
}

.contact-avatar {
    max-width: 4em;
}

.card-img-top {
    max-width: 3em;
}

.user-avatar {
    width: 3em;
    height: 3em;
    margin: 1em auto;
    z-index: 100;
}
