
img, .main-logo {
    width: 4em;
    height: 4em;
}

.main-logo > img {
    width: 4em;
    height: 4em;
}

.my-header {
    display: flex;
    flex-flow: row;

    justify-content: center;
    align-items: center;
}

.delete-form {
    margin: 1em;
}

.edit-form {
    margin: 1em;
}

.btn-primary {
    margin: .3em;
}

.contact-avatar {
    max-width: 4em;
}

.card-img-top {
    max-width: 3em;
}

.user-avatar {
    height: 100%;
    width: 100%;
    display: flex;
}

body {
    margin: 2em 2em;
}

.btn-warning {
    margin: 1em 0;
}

.btn-danger {
    margin: 1em 0;
}
